# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
*.pyc

# Flutter
/flutter/.pub-cache/
/flutter/build/
/flutter/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub/
build/
/frontend/build/
frontend/.dart_tool

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker
*.log
.env
*.env
/volumes/

# Secrets
*.pem
*.key